################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/amc-hackathon back/obj
/MapData
/routingapitest/bin/Debug/netcoreapp3.1
/routingapitest/obj
/.vs/amc-hackathon back/v16
