################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/amc-hackathon back/obj
/MapData
/routingapitest/bin/Debug/netcoreapp3.1
/routingapitest/obj
/.vs
/amc-hackathon back/bin/Debug/netcoreapp3.1
/Utils/bin
/Utils/obj
/GetData/bin
/GetData/obj
/UnitTests/bin/Debug/netcoreapp3.1
/UnitTests/obj
/api-backend/obj
